.footer{
    width: 100vw;
    height: 75px;
    background-color: #FAFAFA;
}
.contact-info{
    display: flex;
    justify-content: space-around;
    padding-top: 22px;
}
.phone-number{
    text-decoration: underline;
    color:black;
}
.email-link{
    color:black;
   

}